*,
*:before,
*:after
{
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

body {
  margin: 0px;
  padding: 0px;
  border: 10px solid #000;
  background-color: #000;
  font-family : Arial, Helvetica, sans-serif;
}

.input {
  margin: 2px 0px 2px 0px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 5px 8px 5px 5px;
  width:auto;
  background-color:#000;
  transition: 0.5s;
}

.input:hover {
  background-color:#777;
}

label {
  margin: 0px 0px 0px 12px;
}

select,
input[type="text"],
input[type="submit"]
{
  margin: 0px;
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #777;
  background-color: #addaff;
  border-radius: 15px;
  box-sizing: border-box;
  transition: 1s;
  outline: none;
  color: #000;
}
select
{
  height: 50px;
}
select optgroup
{
  color: #000;
}
select option
{
  color: #fff;
}

select:hover,
input[type="text"]:hover,
input[type="submit"]:hover
{
  border: 2px solid #fff;
}
input[type="submit"]:focus
{
  background: #0f0;
}

input[type="range"] {
  appearance: none;
  width:100%;
  height: 30px;
  background-color: #addaff;
  outline: none;
  opacity: 1;
  transition: 1s;
  border: 2px solid #777;
  border-radius: 15px;
}
input[type="range"]:hover {
  border: 2px solid#fff;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: white;
  cursor: pointer;
}

.slider {
  appearance: none;
  width: 100%;
  height: 30px;
  background: #addaff;
  outline: none;
  opacity: 1;
  transition: 1s;
  border: 2px solid #777;
  border-radius: 15px;
}
.slider:hover {
  border: 2px solid#fff;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  background: white;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  background-color: #f00;
  border: 2px solid #777;
  transition: 1s;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: white;
  transition: 1s;
  border: 2px solid #ccc;
}
input:checked + .switch-slider {
  background-color: #0f0;
}
input:checked + .switch-slider:before {
  transform: translateX(30px);
  background-color: white;
}
.switch-slider:hover {
  border: 2px solid#fff;
}